@use 'variables' as v;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: v.$mainHeaderColor;

  #container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;
    align-items: center;
    text-align: center;
    // margin-top: 2rem;

    #label_text {
      font-size: 1.2rem;
      // color: #05f;
      color: #f00;
      font-weight: 900;
      margin: 2rem 0;
    }

    #date_input {
      height: 1.5rem;
      border-radius: 0.5rem;
      outline: none;
      border: none;
      padding: 0.5rem;
      margin: 1rem 0;
      font-size: 1rem;
      font-weight: 900;
      // background-color: #05f;
      background-color: #fff;
      // color: #0f0;
      color: #000;
      transition: all 250ms ease-in-out;

      &:hover {
        transform: scale(1.05);
        background-color: #0f0;
        color: #05f;
      }
    }

    #get_date_Btn {
      height: 1.5rem;
      border-radius: 0.5rem;
      outline: none;
      border: none;
      padding: 0.5rem;
      font-size: 1rem;
      line-height: 0;
      font-weight: 900;
      // background-color: #05f;
      background-color: #fff;
      // color: #0f0;
      color: #000;
      transition: all 250ms ease-in-out;

      &:hover {
        transform: scale(1.05);
        background-color: #0f0;
        color: #05f;
      }
    }

    #get_result_weeks,
    #get_result_days,
    #get_result_hours,
    #get_result_minutes,
    #get_result_seconds {
      // font-size: 2rem;
      font-weight: 900;
      color: #fff;
      font-size: 1.5rem;
    }
  }
}
